:root {
	/* COLORS */
	--color-primary: #3c8527;
	--color-primary-shadow: #1d4d13;
	--color-primary-highlight: #639d52;

	--color-secondary: #fb95e2;
	--color-secondary-shadow: #e159c2;
	--color-secondary-highlight: #fcaae8;

	--gray-900: #1e1e1f;
	--gray-800: #252627;
	--gray-700: #313233;
	--gray-600: #48494a;
	--gray-500: #58585a;
	--gray-400: #757577;
	--gray-300: #a2a2a4;
	--gray-200: #d1d2d4;
	--gray-100: #e7e9ed;
	--gray-50: #f8faff;

	/* FONTS */
	--text-light: var(--gray-50);
	--text-dark: var(--gray-800);
	--text-shadow: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));

	/* EXTRA */
	--shadow: rgba(0, 0, 0, 0.4);
	--highlight: rgba(255, 255, 255, 0.1);
}

@font-face {
	font-family: Minecraft;
	src: url(/fonts/MinecraftRegular-Bmg3.otf);
}

@font-face {
	font-family: MinecraftBold;
	src: url(/fonts/MinecraftBold-nMK1.otf);
}

@font-face {
	font-family: MinecraftItalic;
	src: url(/fonts/MinecraftItalic-R8Mo.otf);
}

@font-face {
	font-family: Minecrafter;
	src: url(/fonts/Minecrafter.Reg.ttf);
}

@font-face {
	font-family: BangersRegular;
	src: url(/fonts/BangersRegular.otf);
}

@font-face {
	font-family: BangersBold;
	src: url(/fonts/BangersBold.otf);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(72, 72, 72);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
}

button,
select {
	font-family: Minecraft;
	padding: 0 10px;
	height: 30px;
	line-height: 1;
	vertical-align: bottom;
	overflow: hidden;
	white-space: nowrap;
	background: #999 url('/images/bgbtn.png') center / cover;
	image-rendering: pixelated;
	border: 2px solid #000;
	color: #ddd;
	text-shadow: 2px 2px #000a;
	box-shadow: inset -2px -4px #0006, inset 2px 2px #fff7;
}

select {
	padding-bottom: 1px;
	background-color: #2a2727;
}

button:disabled {
	opacity: 0.7;
	box-shadow: none;
}

button:not(:disabled):hover {
	cursor: pointer;
	background-color: rgba(100, 100, 255, 0.45);
	text-shadow: 2px 2px #202013cc;
	color: #ffffa0;
}

input {
	width: 200px;
	padding: 0 10px;
	height: 30px;
	line-height: 1;
	vertical-align: bottom;
	border: 2px solid #000;
	font-family: Minecraft;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding-inline: 0;
}

::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background: #e6e8eb;
	border: 1.5px solid black;
	box-shadow: inset 0px -3px #58585a;
}

::-webkit-scrollbar-thumb:horizontal {
	box-shadow: inset -3px 0 #58585a, inset 3px 0 #f5f9ff;
}

::-webkit-scrollbar-track {
	margin-block: 8px;
	background: #58585a;
	background: linear-gradient(
		90deg,
		rgba(49, 50, 51, 0) 0%,
		rgba(49, 50, 51, 0) 25%,
		#58585a 25%,
		#58585a 75%,
		rgba(49, 50, 51, 0) 75%,
		rgba(49, 50, 51, 0) 100%
	);
}

::-webkit-scrollbar-track:horizontal {
	margin-block: 8px;
	background: #58585a;
	background: linear-gradient(
		0deg,
		rgba(49, 50, 51, 0) 0%,
		rgba(49, 50, 51, 0) 25%,
		#58585a 25%,
		#58585a 75%,
		rgba(49, 50, 51, 0) 75%,
		rgba(49, 50, 51, 0) 100%
	);
}

::-webkit-scrollbar-corner {
	background: transparent;
}

/* changes for new look, note that all the above will get redone eventually */

.temp button {
	line-height: 100%;
	text-align: center;
	height: 5vh;
	font-size: 2vh;
	border: 0.3vh solid #000;
	text-shadow: 0.2vh 0.2vh #000;
	box-shadow: inset -0.3vh -0.5vh #0006, inset 0.3vh 0.3vh #fff7;
	padding: 0 2vh;
}
.temp button:not(:disabled):hover {
	text-shadow: 0.3vh 0.3vh #202013cc;
}

.temp input {
	border: 0.3vh solid #000;
	height: 5vh;
	font-size: 2vh;
}
.temp input:focus-visible {
	outline-offset: 0;
	outline: none;
}
