.accordion {
	padding-bottom: 0.5rem;
}

.accordionHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 8px;
	border-bottom: 1px solid black;
	box-shadow: 0px 1.5px 0px #5a5b5c;
	font-weight: 700;
	cursor: pointer;
	user-select: none;
}

.accordionHeader > span {
	font-weight: 400;
}

.accordionHeader > h3 > span {
	font-size: 0.9rem;
	font-weight: 400;
}

.accordionHeader > img {
	height: 8px;
	width: 8px;
	transition: all 0.25s ease;
}

.accordionContent {
	padding: 16px 8px;
	overflow: hidden;
}

.hide {
	display: none;
}
