.validationMessage {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	border: 1px solid var(--color-secondary-highlight);
	/* background: rgb(249, 168, 3); */
	background: var(--color-secondary);
	color: var(--text-dark);
	filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.35));
}

.cardCount {
	font-family: Minecraft;
	font-weight: 600;
	letter-spacing: 1px;
	margin-right: 1rem;
	text-align: center;
	line-height: 0.9rem;
}

.cardCount > span {
	font-size: 0.7rem;
	font-weight: 100;
	letter-spacing: 0;
}

.deckName {
	font-weight: 700;
	font-size: 1.2rem;
}

.myDecksItem {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	user-select: none;
	/* transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out; */

	&:hover {
		cursor: pointer;
		background: #48494a;
		box-shadow: inset 0px -2px #5a5b5c, inset 0px 2px #2b2c2c;
	}
}

.selectedDeck {
	font-size: 1rem;
	color: gold;
	text-indent: 3px;
	background: linear-gradient(
		to right,
		rgba(var(--color-700), 0),
		rgba(var(--color-900), 0.4)
	);
	// background: linear-gradient(
	// 	to right,
	// 	rgba(49, 50, 51, 0),
	// 	rgba(28, 29, 29, 0.4)
	// );
	transition: all 0.25s ease-in-out;
}

.newDeckButton {
	font-family: Minecrafter;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-primary);
	height: 44px;
	margin: 0.5rem;
	padding-bottom: 0.25rem;
	box-shadow: inset 0 -4px 1px var(--color-primary-shadow),
		inset 1px 1px 0px 1px var(--color-primary-highlight),
		inset -1px -5px 0px 1px var(--color-primary-highlight);
	border: 1.5px solid black;
	cursor: pointer;
	user-select: none;

	&:hover {
		background: #639d52;
	}

	&:active {
		transform: translateY(1px);
	}

	> p {
		font-size: 1rem;
		filter: var(--text-shadow);
		letter-spacing: 0.5px;
	}
}

.deckImage {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--gray-100);
	border-radius: 6px;
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
	flex-shrink: 0;

	> img {
		height: 1.5rem;
		filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
	}
}

.button {
	margin: 0 1rem;
}

.common {
	color: var(--common);
}

.rare {
	color: var(--rare);
}

.ultraRare {
	color: var(--ultra-rare);
}

.dynamicSpace {
	flex: 1 1 auto;
	width: 0;
}

.error {
	color: red;
}

.hide {
	display: none;
}

input {
	background: var(--gray-400);
	border: 2px solid var(--gray-900);
	box-shadow: inset 0 4px 0 var(--gray-900);
	color: white;
	height: 2.4rem;
	padding: 0.5rem;
	padding-bottom: 0.25rem;

	&::placeholder {
		color: white;
	}
}

.editableDeckName:not(:focus) {
	all: unset;
	// height: 2rem;
	padding: 0.5rem 0 0.25rem 0.25rem;
	border-bottom: 2px solid var(--gray-300);
	// font-family: 'Minecrafter';
}

.clearFilters {
	border-radius: 0.5rem;
	height: 1.5rem;
	min-width: 1.5rem;
	padding: 0.4rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--text-light);
	border: 1px solid transparent;
	background-color: var(--gray-900);
	border: 1px solid transparent;
	cursor: pointer;

	&:hover {
		background-color: var(--gray-400);
	}

	&:focus {
		border: 1px solid var(--gray-100);
	}

	> img {
		height: 1.5rem;
		width: 1.5rem;
	}
}

.filters {
	display: flex;
	gap: 0.25rem;
	position: relative;
	z-index: 1;
}

/* DESKTOP */
@media (min-width: 720px) {
	.mobileDeckSelect {
		display: none;
	}

	.deckWrapper {
		flex-direction: row;
	}

	.myDecks {
		display: flex;
	}
}

// RADIX DROPDOWN TEST
.DropdownMenuContent {
	min-width: 3rem;
	background-color: var(--gray-900);
	border-radius: 4px;
	padding: 0.5rem;
	border: 1px solid var(--gray-100);
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;

	&[data-side='top'] {
		animation-name: slideDownAndFade;
	}
	&[data-side='right'] {
		animation-name: slideLeftAndFade;
	}
	&[data-side='bottom'] {
		animation-name: slideUpAndFade;
	}
	&[data-side='left'] {
		animation-name: slideRightAndFade;
	}
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem {
	font-size: 1rem;
	line-height: 1;
	color: var(--text-light);
	border-radius: 3px;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	// height: 25px;
	padding: 0.25rem;
	position: relative;
	user-select: none;
	outline: none;

	::first-letter {
		text-transform: capitalize;
	}

	&[data-disabled] {
		color: var(--gray-600);
		pointer-events: none;
	}

	&[data-highlighted] {
		background-color: var(--gray-200);
		color: var(--text-dark);
	}
}

.DropdownMenuLabel {
	text-align: center;
	font-weight: bold;
}

.DropdownMenuItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: hotpink;
}

.IconButton {
	border-radius: 0.5rem;
	height: 1.5rem;
	padding: 0.4rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--text-light);
	background-color: var(--gray-900);
	border: 1px solid transparent;

	&:hover {
		background-color: var(--gray-400);
	}

	&:focus {
		border: 1px solid var(--gray-100);
	}

	> img {
		height: 1.5rem;
		width: 1.5rem;
	}
}

.RightSlot {
	margin-left: auto;
	padding-left: 20px;
	color: var(--mauve11);
}
[data-highlighted] > .RightSlot {
	color: white;
}
[data-disabled] .RightSlot {
	color: var(--mauve8);
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

// OLD STYLES...
.oldStyles {
	display: none;
	// .limits {
	// 	flex: 1 1 auto;
	// 	min-width: 0;
	// 	font-family: Minecraft;
	// 	font-size: 12px;
	// }

	// .cards {
	// 	display: flex;
	// 	flex-flow: row nowrap;
	// }

	// .cardColumn {
	// 	flex: 1 1 auto;
	// 	width: 0px;
	// 	padding: 15px;
	// }

	// .allCards {
	// 	background: #2a2727;
	// }

	// .selectedCards {
	// 	background: #393433;
	// }

	// .cardsTitle {
	// 	text-align: center;
	// 	font-family: MinecraftBold;
	// 	padding: 5px 0 10px 0;
	// 	color: white;
	// }

	// .saveLoadDecks {
	// 	display: flex;
	// 	flex-flow: row nowrap;
	// }

	// .cardList {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 300px;
	// 	height: 100vh;
	// 	background: #a0a0a0;
	// }

	// .cardListTitle {
	// 	text-align: center;
	// }

	// .loadDeckList {
	// 	list-style: none;
	// 	display: flex;
	// 	align-items: center;
	// 	flex-direction: column;
	// 	padding: 0;
	// 	gap: 0.5em;
	// }

	// .deckSelection {
	// 	margin: 0 4px 0 20px;
	// 	min-width: 160px;
	// }
}
